html {
  display: flex;
  justify-content: center;
}
.img-container {
  position: relative;
  height: 630px;
  width: 530px;
}
.container {
  display: flex;
  flex-direction: row;
}

.colorPicker {
  /* align-self: center; */
}

.color {
  display: inline-block;
  border: 1px solid black;
  height: 20px;
  width: 20px;
  margin: 5px;
  border-radius: 3px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: inline-block;
}

.color:hover {
  opacity: 0.8;
  cursor: pointer;
}

.addImage {
  display: flex;

  flex-wrap: wrap;
  width: 206px;
}

.definedImages {
  height: 100px;
  width: 100px;
}

.imageList {
  border: 1px solid white;
  background-color: gray;
}

.imageList:hover {
  border: 2px solid black;
}

.deleteBtn {
  padding: 10px;
  font-size: 1.5em;
  color: white;
  font-family: monospace;
  font-weight: bolder;
  background-color: red;
  border-radius: 10px;
  border: none;
}

.deleteBtn:hover {
  border: 2px solid black;
}
.deleteImage {
  margin: 10px;
}
